* text=auto
*.py text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.sh text eol=lf
installer/macos/pkg-scripts/* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
